name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Build deployment artifacts
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Build
        run: |
          ./scripts/ci

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          buildNumber: ${{ env.GITHUB_RUN_NUMBER }}
          projectName: print-production::pressreader
          configPath: packages/cdk/cdk.out/riff-raff.yaml
          contentDirectories: |
            cdk.out:
              - packages/cdk/cdk.out
            pressreader-US:
              - packages/pressreader/dist/pressreader.zip
            pressreader-AUS:
              - packages/pressreader/dist/pressreader.zip
            pressreader-US-old:
              - packages/pressreader/dist/pressreader.zip
            pressreader-AUS-old:
              - packages/pressreader/dist/pressreader.zip
